<div class="row publication profile-row">
  <div class="three columns text-left">
    <div class="profile-card">
      <img class="profile-photo" src="/resources/photos/{{q.picture}}" alt="{{q.name}}" loading="lazy" />
      <div class="profile-overlay">
        <div class="profile-overlay-text"><b>{{q.name}}</b> <br/> {{q.title}}</div>
      </div>
    </div>
  </div>

  <div class="four columns profile-summary">
    <i>{{q.bio}}</i>
  </div>

  <div class="three columns text-right profile-actions">
    {% for lab in q.labels %}
    {% if lab.type == "figshare" %}<a href="{{lab.figshare}}"><span class="label label-figshare"> <i class="ai ai-figshare"></i></span></a>{% endif %}
    {% if lab.type == "scholar" %}<a href="{{lab.scholar}}"><span class="label label-scholar"> <i class="ai ai-google-scholar"></i></span></a>{% endif %}
    {% if lab.type == "orcid" %}<a href="{{lab.orcid}}"><span class="label label-orcid"> <i class="ai ai-orcid"></i></span></a>{% endif %}
    {% if lab.type == "publons" %}<a href="{{lab.publons}}"><span class="label label-publons"> <i class="ai ai-publons"></i></span></a>{% endif %}
    {% if lab.type == "twitter" %}<a href="{{lab.twitter}}"><span class="label label-twitter"> <i class="fab fa-twitter-square"></i></span></a>{% endif %}
    {% if lab.type == "github" %}<a href="{{lab.github}}"><span class="label label-github"> <i class="fab fa-github"></i></span></a>{% endif %}
    {% if lab.type == "cv" %}<a href="{{lab.cv}}"><span class="label label-cv"> <i class="fas fa-file-pdf"></i></span></a>{% endif %}
    {% if lab.type == "email" %}<a href="{{lab.email}}"><span class="label label-email"> <i class="fas fa-envelope"></i></span></a>{% endif %}
    {% endfor %}
  </div>
</div>
