  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ site.title }} | {{ page.title }}</title>

  <!-- CSS framework -->
  <link rel="stylesheet" href="/styles/skeleton.css">
  <link rel="stylesheet/less" type="text/css" href="/styles/main.less" />
  <link rel="stylesheet/less" type="text/css" href="/styles/colors.less" />

  <link rel="stylesheet" href="/resources/fontawesome-free-6.1.2-web/css/all.css" />
	<link rel="stylesheet" href="/resources/academicons-1.8.0/css/academicons.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.3.1/less.min.js"></script>

