<ul class="pure-menu-list">
   <li {%if page.title == 'Home' %}class="active"{% endif %}><a href="/"> <i class="fa fa-home fa-3x"></i>  </a></li>
   <li {%if page.title == 'People' %}class="active"{% endif %}><a href="/people/"> <i class="fa fa-users fa-3x"></i> </a></li>
   <li {%if page.title == 'Research' %}class="active"{% endif %}><a href="/research/"> <i class="fa fa-flask fa-3x"></i> </a></li>
   <li {%if page.title == 'Papers' %}class="active"{% endif %}><a href="/papers/"><i class="fa fa-book fa-3x"></i>  </a></li>
   <li {%if page.title == 'Software' %}class="active"{% endif %}><a href="/software/"><i class="fa fa-cogs fa-3x"></i> </a></li>
   <li {%if page.title == 'Multimedia' %}class="active"{% endif %}><a href="/multimedia/"><i class="fa fa-camera-retro fa-3x"></i> </a></li>
</ul>
