<!doctype html>
<html class="no-js" lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="resources/academicons-1.6.0/css/academicons.css" />
   <head>
      {% include header.html %}
   </head>
   <body>

      <div class="top-bar pure-menu pure-menu-open pure-menu-horizontal">
         {% include nav.html %}
      </div>

      <div class="whitebg"></div>

      <div class="wrapper" id="main">

         <div class="l-content">
            <div class="pure-g">
               {{ content }}
            </div>
         </div>

      </div>

   </body>
</html>
