/*! Skeleton Framework | 1.0.6 | MIT | Jan 29th, 2016 */
/* Grid */

.container {
  margin: 0 auto;
  width: calc(100% - 1rem);
  max-width: 1200px;
}

.container .container {
  margin-top: 0.5rem;
  width: calc(100% - 2rem);
}

.row {
  padding-top: 12em;
  margin-left: 1rem;
  margin-right: 1rem;
}

.row::before,
.row::after {
  content: ' ';
  display: table;
}

.row::after {
  clear: both;
}

.row ~ .row,
[class*='column'] ~ [class*='column'] {
  margin-top: -7rem;
}

[class*='column'] {
  width: calc(100% - 1rem);
  float: left;
  min-height: 1px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.xs-one[class*='column'] {
  width: calc(8.3333333333% - 1rem);
}

.xs-two[class*='column'] {
  width: calc(16.6666666666% - 1rem);
}

.xs-three[class*='column'],
.xs-one-quarter[class*='column'] {
  width: calc(24.9999999999% - 1rem);
}

.xs-four[class*='column'],
.xs-one-third[class*='column'] {
  width: calc(33.3333333332% - 1rem);
}

.xs-five[class*='column'] {
  width: calc(41.6666666665% - 1rem);
}

.xs-six[class*='column'],
.xs-one-half[class*='column'] {
  width: calc(49.9999999998% - 1rem);
}

.xs-seven[class*='column'] {
  width: calc(58.3333333331% - 1rem);
}

.xs-eight[class*='column'],
.xs-two-thirds[class*='column'] {
  width: calc(66.6666666664% - 1rem);
}

.xs-nine[class*='column'] {
  width: calc(74.9999999997% - 1rem);
}

.xs-ten[class*='column'] {
  width: calc(83.333333333% - 1rem);
}

.xs-eleven[class*='column'] {
  width: calc(91.6666666663% - 1rem);
}

.xs-twelve[class*='column'] {
  width: calc(99.9999999996% - 1rem);
}

[class*='xs-'][class*='column'] ~ [class*='xs-'][class*='column'] {
  margin-top: 0;
}

@media screen and (min-width: 560px) {
  [class*='column'] ~ [class*='column'] {
    margin-top: 0;
  }
  .one[class*='column'] {
    width: calc(8.3333333333% - 1rem);
  }
  .two[class*='column'] {
    width: calc(16.6666666666% - 1rem);
  }
  .three[class*='column'],
  .one-quarter[class*='column'] {
    width: calc(24.9999999999% - 1rem);
  }
  .four[class*='column'],
  .one-third[class*='column'] {
    width: calc(33.3333333332% - 1rem);
  }
  .five[class*='column'] {
    width: calc(41.6666666665% - 1rem);
  }
  .six[class*='column'],
  .one-half[class*='column'] {
    width: calc(49.9999999998% - 1rem);
  }
  .seven[class*='column'] {
    width: calc(58.3333333331% - 1rem);
  }
  .eight[class*='column'],
  .two-thirds[class*='column'] {
    width: calc(66.6666666664% - 1rem);
  }
  .nine[class*='column'] {
    width: calc(74.9999999997% - 1rem);
  }
  .ten[class*='column'] {
    width: calc(83.333333333% - 1rem);
  }
  .eleven[class*='column'] {
    width: calc(91.6666666663% - 1rem);
  }
  .twelve[class*='column'] {
    width: calc(99.9999999996% - 1rem);
  }
  .offset-by-one[class*='column'] {
    margin-left: calc(8.3333333333% + 0.5rem);
  }
  .offset-by-two[class*='column'] {
    margin-left: calc(16.6666666666% + 0.5rem);
  }
  .offset-by-three[class*='column'],
  .offset-by-one-quarter[class*='column'] {
    margin-left: calc(24.9999999999% + 0.5rem);
  }
  .offset-by-four[class*='column'],
  .offset-by-one-third[class*='column'] {
    margin-left: calc(33.3333333332% + 0.5rem);
  }
  .offset-by-five[class*='column'] {
    margin-left: calc(41.6666666665% + 0.5rem);
  }
  .offset-by-six[class*='column'],
  .offset-by-one-half[class*='column'] {
    margin-left: calc(49.9999999998% + 0.5rem);
  }
  .offset-by-seven[class*='column'] {
    margin-left: calc(58.3333333331% + 0.5rem);
  }
  .offset-by-eight[class*='column'],
  .offset-by-two-thirds[class*='column'] {
    margin-left: calc(66.6666666664% + 0.5rem);
  }
  .offset-by-nine[class*='column'] {
    margin-left: calc(74.9999999997% + 0.5rem);
  }
  .offset-by-ten[class*='column'] {
    margin-left: calc(83.333333333% + 0.5rem);
  }
  .offset-by-eleven[class*='column'] {
    margin-left: calc(91.6666666663% + 0.5rem);
  }
  .sm-one[class*='column'] {
    width: calc(8.3333333333% - 1rem);
  }
  .sm-two[class*='column'] {
    width: calc(16.6666666666% - 1rem);
  }
  .sm-three[class*='column'],
  .sm-one-quarter[class*='column'] {
    width: calc(24.9999999999% - 1rem);
  }
  .sm-four[class*='column'],
  .sm-one-third[class*='column'] {
    width: calc(33.3333333332% - 1rem);
  }
  .sm-five[class*='column'] {
    width: calc(41.6666666665% - 1rem);
  }
  .sm-six[class*='column'],
  .sm-one-half[class*='column'] {
    width: calc(49.9999999998% - 1rem);
  }
  .sm-seven[class*='column'] {
    width: calc(58.3333333331% - 1rem);
  }
  .sm-eight[class*='column'],
  .sm-two-thirds[class*='column'] {
    width: calc(66.6666666664% - 1rem);
  }
  .sm-nine[class*='column'] {
    width: calc(74.9999999997% - 1rem);
  }
  .sm-ten[class*='column'] {
    width: calc(83.333333333% - 1rem);
  }
  .sm-eleven[class*='column'] {
    width: calc(91.6666666663% - 1rem);
  }
  .sm-twelve[class*='column'] {
    width: calc(99.9999999996% - 1rem);
  }
  .sm-offset-by-one[class*='column'] {
    margin-left: calc(8.3333333333% + 0.5rem);
  }
  .sm-offset-by-two[class*='column'] {
    margin-left: calc(16.6666666666% + 0.5rem);
  }
  .sm-offset-by-three[class*='column'],
  .sm-offset-by-one-quarter[class*='column'] {
    margin-left: calc(24.9999999999% + 0.5rem);
  }
  .sm-offset-by-four[class*='column'],
  .sm-offset-by-one-third[class*='column'] {
    margin-left: calc(33.3333333332% + 0.5rem);
  }
  .sm-offset-by-five[class*='column'] {
    margin-left: calc(41.6666666665% + 0.5rem);
  }
  .sm-offset-by-six[class*='column'],
  .sm-offset-by-one-half[class*='column'] {
    margin-left: calc(49.9999999998% + 0.5rem);
  }
  .sm-offset-by-seven[class*='column'] {
    margin-left: calc(58.3333333331% + 0.5rem);
  }
  .sm-offset-by-eight[class*='column'],
  .sm-offset-by-two-thirds[class*='column'] {
    margin-left: calc(66.6666666664% + 0.5rem);
  }
  .sm-offset-by-nine[class*='column'] {
    margin-left: calc(74.9999999997% + 0.5rem);
  }
  .sm-offset-by-ten[class*='column'] {
    margin-left: calc(83.333333333% + 0.5rem);
  }
  .sm-offset-by-eleven[class*='column'] {
    margin-left: calc(91.6666666663% + 0.5rem);
  }
}

@media screen and (min-width: 720px) {
  .md-one[class*='column'] {
    width: calc(8.3333333333% - 1rem);
  }
  .md-two[class*='column'] {
    width: calc(16.6666666666% - 1rem);
  }
  .md-three[class*='column'],
  .md-one-quarter[class*='column'] {
    width: calc(24.9999999999% - 1rem);
  }
  .md-four[class*='column'],
  .md-one-third[class*='column'] {
    width: calc(33.3333333332% - 1rem);
  }
  .md-five[class*='column'] {
    width: calc(41.6666666665% - 1rem);
  }
  .md-six[class*='column'],
  .md-one-half[class*='column'] {
    width: calc(49.9999999998% - 1rem);
  }
  .md-seven[class*='column'] {
    width: calc(58.3333333331% - 1rem);
  }
  .md-eight[class*='column'],
  .md-two-thirds[class*='column'] {
    width: calc(66.6666666664% - 1rem);
  }
  .md-nine[class*='column'] {
    width: calc(74.9999999997% - 1rem);
  }
  .md-ten[class*='column'] {
    width: calc(83.333333333% - 1rem);
  }
  .md-eleven[class*='column'] {
    width: calc(91.6666666663% - 1rem);
  }
  .md-twelve[class*='column'] {
    width: calc(99.9999999996% - 1rem);
  }
  .md-offset-by-one[class*='column'] {
    margin-left: calc(8.3333333333% + 0.5rem);
  }
  .md-offset-by-two[class*='column'] {
    margin-left: calc(16.6666666666% + 0.5rem);
  }
  .md-offset-by-three[class*='column'],
  .md-offset-by-one-quarter[class*='column'] {
    margin-left: calc(24.9999999999% + 0.5rem);
  }
  .md-offset-by-four[class*='column'],
  .md-offset-by-one-third[class*='column'] {
    margin-left: calc(33.3333333332% + 0.5rem);
  }
  .md-offset-by-five[class*='column'] {
    margin-left: calc(41.6666666665% + 0.5rem);
  }
  .md-offset-by-six[class*='column'],
  .md-offset-by-one-half[class*='column'] {
    margin-left: calc(49.9999999998% + 0.5rem);
  }
  .md-offset-by-seven[class*='column'] {
    margin-left: calc(58.3333333331% + 0.5rem);
  }
  .md-offset-by-eight[class*='column'],
  .md-offset-by-two-thirds[class*='column'] {
    margin-left: calc(66.6666666664% + 0.5rem);
  }
  .md-offset-by-nine[class*='column'] {
    margin-left: calc(74.9999999997% + 0.5rem);
  }
  .md-offset-by-ten[class*='column'] {
    margin-left: calc(83.333333333% + 0.5rem);
  }
  .md-offset-by-eleven[class*='column'] {
    margin-left: calc(91.6666666663% + 0.5rem);
  }
}

@media screen and (min-width: 960px) {
  .lg-one[class*='column'] {
    width: calc(8.3333333333% - 1rem);
  }
  .lg-two[class*='column'] {
    width: calc(16.6666666666% - 1rem);
  }
  .lg-three[class*='column'],
  .lg-one-quarter[class*='column'] {
    width: calc(24.9999999999% - 1rem);
  }
  .lg-four[class*='column'],
  .lg-one-third[class*='column'] {
    width: calc(33.3333333332% - 1rem);
  }
  .lg-five[class*='column'] {
    width: calc(41.6666666665% - 1rem);
  }
  .lg-six[class*='column'],
  .lg-one-half[class*='column'] {
    width: calc(49.9999999998% - 1rem);
  }
  .lg-seven[class*='column'] {
    width: calc(58.3333333331% - 1rem);
  }
  .lg-eight[class*='column'],
  .lg-two-thirds[class*='column'] {
    width: calc(66.6666666664% - 1rem);
  }
  .lg-nine[class*='column'] {
    width: calc(74.9999999997% - 1rem);
  }
  .lg-ten[class*='column'] {
    width: calc(83.333333333% - 1rem);
  }
  .lg-eleven[class*='column'] {
    width: calc(91.6666666663% - 1rem);
  }
  .lg-twelve[class*='column'] {
    width: calc(99.9999999996% - 1rem);
  }
  .lg-offset-by-one[class*='column'] {
    margin-left: calc(8.3333333333% + 0.5rem);
  }
  .lg-offset-by-two[class*='column'] {
    margin-left: calc(16.6666666666% + 0.5rem);
  }
  .lg-offset-by-three[class*='column'],
  .lg-offset-by-one-quarter[class*='column'] {
    margin-left: calc(24.9999999999% + 0.5rem);
  }
  .lg-offset-by-four[class*='column'],
  .lg-offset-by-one-third[class*='column'] {
    margin-left: calc(33.3333333332% + 0.5rem);
  }
  .lg-offset-by-five[class*='column'] {
    margin-left: calc(41.6666666665% + 0.5rem);
  }
  .lg-offset-by-six[class*='column'],
  .lg-offset-by-one-half[class*='column'] {
    margin-left: calc(49.9999999998% + 0.5rem);
  }
  .lg-offset-by-seven[class*='column'] {
    margin-left: calc(58.3333333331% + 0.5rem);
  }
  .lg-offset-by-eight[class*='column'],
  .lg-offset-by-two-thirds[class*='column'] {
    margin-left: calc(66.6666666664% + 0.5rem);
  }
  .lg-offset-by-nine[class*='column'] {
    margin-left: calc(74.9999999997% + 0.5rem);
  }
  .lg-offset-by-ten[class*='column'] {
    margin-left: calc(83.333333333% + 0.5rem);
  }
  .lg-offset-by-eleven[class*='column'] {
    margin-left: calc(91.6666666663% + 0.5rem);
  }
}
